.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
  }

  @media screen and (max-width: 650px) {
    .header {
      padding-top: 16px;
    }
}