.page {
  outline: 1px solid rgb(68, 0, 255);
  display: flex;
  justify-content: center;
  padding-top: 28px;
}

.page__container {
  max-width: 1280px;
  width: 100%;
  color: #FFFFFF;
  background: #2A2C2F;
  outline: 1px solid rgb(0, 157, 255);
}

.header {
  outline: 1px solid rgb(255, 242, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
}


.header__logo {
  outline: 1px solid rgb(255, 242, 0);
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  outline: 1px solid rgb(255, 242, 0);
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  align-self: flex-end;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}


.content {
}


.lead {
  
  outline: 1px solid rgb(255, 242, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
 
}

.lead__title {
  margin: 0;
  margin-top: 56px;
  max-width: 720px;
  height: 200px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  outline: 1px solid rgb(255, 242, 0);
}

.lead__subtitle {
  margin: 0;
  margin-top: 32px;
  width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  outline: 1px solid rgb(255, 242, 0);
}

.lead__image {
  max-width: 984px;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 56px;
}

.caption {
  margin: 0;
  margin-top: 8px;
  margin-left: 148px;
  width: 158px;
  height: 14px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  outline: 1px solid rgb(255, 242, 0);
  align-self: flex-start;
}


.intro {
  outline: 1px solid rgb(255, 242, 0);
  padding-top: 92px;
}
.intro__title {
  margin: 0;
  margin-bottom: 40px;
  width: 690px;
  height: 58px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  margin: 0;
  margin-bottom: 33px;
  width: 690px;
  height: 208px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}


.intro__lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 90px;
}


.intro__list {
  margin: 0;
  width: 690px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}


.photo-grid {
  padding-top: 92px;
  padding-bottom: 92px;
  outline: 1px solid rgb(255, 242, 0);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  
}

.photo-grid__item {
  max-width: 100% ;
  max-width: 100%;
}

.places {
  outline: 1px solid rgb(255, 242, 0);
}

.place {
  outline: 1px solid rgb(255, 242, 0);
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  align-items: start;
  grid-template-areas:
    "title website"
    "image text"
    
}

.place__title {
  margin: 0;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  outline: 1px solid rgb(255, 242, 0);
  grid-area: title;
}

.place__image {
  width: 100%;
  grid-area: image;
}

.place__website {
  grid-area: website;
  align-self: end;
  outline: 1px solid rgb(255, 242, 0);
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  width: 456px;
  height: 12px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  
}

.place__link {
  color: #FFFFFF;
  text-decoration: underline;
  width: 456px;
  height: 22px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__description {
  grid-area: text;
  outline: 1px solid rgb(255, 242, 0);
}

.place__paragraph {
  
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  outline: 1px solid rgb(255, 242, 0);
  margin-bottom: 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  outline: 1px solid rgb(255, 242, 0);
}
.cover__title {
    margin: 0;
}
.cover__subtitle {
    margin: 0;
}
.cover__overlay {}

.cover__background {
  width: 100%;
}


.footer {
  outline: 1px solid rgb(255, 242, 0);
}
.footer__link {
  color: #FFFFFF;
}
.footer__copyright {
  margin: 0;
  width: 198px;
  height: 36px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}




