.page {
  display: flex;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  width: 100%;
  color: #FFFFFF;
  background: #2A2C2F;
  outline: 1px solid rgb(0, 157, 255);
}

.page__padding-min {
  padding-right: 48px;
  padding-left: 48px;
}

.page__padding-max {
  padding-right: 148px;
  padding-left: 148px;
}

.page__padding-none {
  padding-right: 48px;
  padding-left: 48px;
}

.page__padding-cover {
  padding-right: 148px;
  padding-left: 148px;
}

.page__padding-bottom {
  padding-bottom: 92px;
}

.header {
  outline: 1px solid rgb(212, 0, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
}

.header__logo {
  outline: 1px solid  rgb(212, 0, 255);
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  outline: 1px solid  rgb(212, 0, 255);
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  align-self: flex-end;
  margin-right: 18px;
  transition-duration: 0.4s;
}

.header__lang-link:hover {
  transition: linear;
  transition-duration: 0.4s;
  opacity: 0.8;
  }

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}


.content {
  
}


.lead {
  outline: 1px solid  rgb(212, 0, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 0;
  margin-top: 56px;
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  outline: 1px solid  rgb(212, 0, 255);
}

.lead__subtitle {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  outline: 1px solid  rgb(212, 0, 255);
}

.lead__image {
  max-width: 984px;
  width: 100%;
}

.caption {
  margin: 0;
  margin-top: 8px;
  max-width: 158px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  outline: 1px solid  rgb(212, 0, 255);
  align-self: flex-start;
}

.intro {
  outline: 1px solid  rgb(212, 0, 255);
}

.intro__title {
  margin: 0;
  margin-bottom: 40px;
  max-width: 690px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  outline: 1px solid  rgb(212, 0, 255);
}

.intro__text {
  margin: 0;
  margin-bottom: 33px;
  max-width: 690px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  outline: 1px solid  rgb(212, 0, 255);
}

.intro__lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 90px;
}

.intro__list {
  margin: 0;
  width: 690px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__span-accent {
  margin: 0;
  width: 690px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  outline: 1px solid  rgb(212, 0, 255);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
}

.photo-grid__item {
  max-width: 100%;
}


.places {
  outline: 1px solid  rgb(212, 0, 255);
}

.place {
  outline: 1px solid  rgb(8, 0, 255);
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 40px 48px;
  align-items: start;
  padding-bottom: 80px;
  grid-template-areas:
    "title website"
    "image text"; 
}

.place:last-of-type {
  padding-bottom: 0;
} 

.place__title {
  margin: 0;
  max-width: 460px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  outline: 1px solid  rgb(212, 0, 255);
  grid-area: title;
}

.place__image {
  width: 100%;
  max-width: 460px;
  grid-area: image;
  outline: 1px solid  rgb(212, 0, 255);
}

.place__website {
  grid-area: website;
  align-self: end;
  outline: 1px solid  rgb(212, 0, 255);
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  width: 456px;
  height: 12px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  color: #FFFFFF;
  text-decoration: underline;
  width: 456px;
  height: 22px;
  font-family: 'Inter', 'Arial', 'elvetiHca', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition-duration: 0.4s;
}

.place__link:hover {
  transition: linear;
  transition-duration: 0.4s;
  opacity: 0.8;
}

.place__description {
  grid-area: text;
  outline: 1px solid  rgb(212, 0, 255);
  max-width: 484px;
  
}

.place__paragraph {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  outline: 1px solid  rgb(212, 0, 255);
  margin-bottom: 26px;
  max-width: 484px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
 
}

.cover__link {
  outline: 1px solid  rgb(212, 0, 255);
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cover__link::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity .3s;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

.cover__title {
  margin: 0;
  max-width: 560px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  outline: 1px solid rgb(212, 0, 255);
}

.cover__subtitle {
  margin: 0;
  margin-top: 32px;
  max-width: 360px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  outline: 1px solid rgb(212, 0, 255);
}


.footer {
  outline: 1px solid  rgb(212, 0, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.footer__menu {}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  list-style-type: none;
}

.footer__item {
  outline: 1px solid  rgb(212, 0, 255);
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin-right: 0;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  outline: 1px solid rgb(212, 0, 255);
  transition-duration: 0.4s;
}

.footer__link:hover {
  transition: linear;
  transition-duration: 0.4s;
  opacity: 0.8;
}


.footer__copyright {
  margin: 0;
  max-width: 198px;
  outline: 1px solid rgb(212, 0, 255);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
}








@media screen and (max-width: 1025px) { 
  .page__padding-max {
    padding-right: 48px;
    padding-left: 48px;
  }
  .page__padding-none {
    padding-right: 0;
    padding-left: 0;
  }
  .page__padding-cover {
    padding-right: 48px;
    padding-left: 48px;
  }
  .lead__title {
    margin-top: 48px;
  }
  .lead__subtitle {
    margin-bottom: 56px;
  }
  /*
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
  .place__description {
    
  }
  .place__paragraph{
    
  }
  .place__title {
    max-width: 440px;
  }
  .place__image {
    max-width: 440px;
  }
  */
  .cover__link {
    min-height: 640px;
  }
} 


@media screen and (max-width: 769px) {
  .page__padding-max {
    padding-right: 24px;
    padding-left: 24px;
  }
  .page__padding-min {
    padding-right: 24px;
    padding-left: 24px;
  }
  .page__padding-cover {
    padding-right: 0;
    padding-left: 0;
  }
  .page__padding-bottom {
    padding-bottom: 88px;
  }
  .caption {
    margin-left: 24px;
  }
  .intro__text {
    max-width: 720px;
  }
  /*
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .place__image {
    max-width: 340px;
  }
  */
  .cover__link {
    min-height: 480px;
  }
}


@media screen and (max-width: 321px) {
  .page__padding-max {
    padding-right: 16px;
    padding-left: 16px;
  }
  .page__padding-min {
    padding-right: 16px;
    padding-left: 16px;
  }
  .page__padding-bottom {
    padding-bottom: 64px;
  }
  .page {
    padding-top: 16px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    width: 22px;
    height: 20px;
    align-self: center;
  }
  .lead__title {
    line-height: 44px;
    font-size: 40px;
  }
  .lead__subtitle {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .caption {
    margin-left: 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text {
    margin: 0;
    margin-bottom: 34px;
  }
  .photo-grid {
    gap: 12px;
  }
  /*
  .place {
    grid-template-columns: 320px;
    grid-template-areas:
    "title"
    "website"
    "image" 
    "text";
    gap: 32px 0;
  }
  .place__title{
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .place__website {
    max-width: 288px;
  }
  .place__image {
    
  }
  */
  .cover__link {
    min-height: 200px;
  }
  .cover__title {
    font-size: 32px;
    line-height: 35px;
   
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px; 
  }
  .footer__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__item {
    margin-bottom: 48px;
  }
  .footer__copyright {
    align-self: flex-start;
    line-height: 14px;
  }
}




